<div id="fh5co-about-us" data-section="about">
		<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">¿Porque Jobersity?</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3>Jobersity es la manera más rápida de cubrir una vacante, porque es el único sitio de vinculación inmediata con estudiantes: Tú reduces costos de reclutamiento y capacitación; ellos ganan experiencia.</h3>
						</div>
					</div>
				</div>
				<div class="col-md-8 to-animate">
					<img src="images/img_1.jpg" class="img-responsive img-rounded" alt="">
				</div>
				<div class="col-md-4 to-animate">
					<h2>¿Como surge Jobersity?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
					<p><a href="#" class="btn btn-primary">Conoce al equipo</a></p>
				</div>
			</div>			
		</div>
	</div>