<div id="fh5co-features" data-section="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-features-1">Ventajas</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 single-animate animate-features-2">
							<h3></h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-present"></i></div>
					<div class="fh5co-desc">
						<h3>Representante de campus</h3>
						<p>Los Representantes de campus Jobersity te ayudarán a que tu perfil sea visto por empleadores y seas contactado rápidamente. </p>
					</div>	
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-eye"></i></div>
					<div class="fh5co-desc">
						<h3>Orientación vocacional</h3>
						<p>¿Aún no sabes cuál es tu trabajo ideal? Jobersity te da sugerencias e información útil para encontrar aquello que amas y lo hagas con pasión. </p>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-crop"></i></div>
					<div class="fh5co-desc">
						<h3>Recibe un sueldo</h3>
						<p>Jobersity cree en el trabajo remunerado, mereces apoyo económico por ser líder y agente de cambio.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-speedometer"></i></div>
					<div class="fh5co-desc">
						<h3>Experiencia comprobable</h3>
						<p>La misión de Jobersity es que no haya egresados sin experiencia en el trabajo, se acabaron los pretextos.</p>
					</div>	
				</div>
			</div>				
		</div>
	</div>