<div id="fh5co-our-services" data-section="services">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Servicios</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3></h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-1"><span><i class="icon-mustache"></i></span></div>
						<h3>Candidatos</h3>
						<p>Sólo verás candidatos afines</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-4"><span><i class="icon-heart"></i></span></div>
						<h3>Videocurrículum (VCV)</h3>
						<p>Acceso a video de las empresas o de los practicantes</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-2"><span><i class="icon-screen-desktop"></i></span></div>
						<h3>Curriculum</h3>
						<p>Sube tu curriculum y demuestra tus habilidades</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-5"><span><i class="icon-rocket"></i></span></div>
						<h3>Cantacta al candidato</h3>
						<p>Contacta al candidato desde nuestra plataforma</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-3"><span><i class="icon-eye"></i></span></div>
						<h3>Ejecutivo de cuenta dedicado</h3>
						<p>Tedras un ejecutivo dedicado</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-6"><span><i class="icon-user"></i></span></div>
						<h3>Nube</h3>
						<p>Almacena y gestiona la documentación en la nube, y accede de manera segura desde cualquier parte</p>
					</div>
				</div>
			</div>
		</div>
	</div>