<h1>Bienvenido  Jobersity</h1>
Son las <%= Time.now %>
Tenemos un total de  <%= pluralize(@total_users, "usuarios activos") %>.
<center>Actualmente nuestro sitio web esta en construcción</center>
	<%= render 'inicio/slider' %>